ENVIRONMENT=development
PUBLIC_PRODUCTION_DOMAIN=example.com

# Storyblok
# ------------------ #
# Used on client and server to access Storyblok API
PUBLIC_STORYBLOK_ACCESS_TOKEN=

# Used in the generate script to create types for Storyblok components
STORYBLOK_PERSONAL_ACCESS_TOKEN=
STORYBLOK_SPACE_ID=

# Mail service (Postboi): `bunx postboi init` writes the token
# ------------------ #
POSTBOI_TOKEN=
POSTBOI_TO=darby@uilo.co
